<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @restaurant.desciption %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


<h3>Comments</h3>
<%= form_for @review do |f| %>
    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :Comment %><br>
    <%= f.text_field :comment %>
    </p>
    <div class="actions">
    <%= f.submit %>
  </div>
 <% end %>
  
<% @restaurant.reviews.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
